body {
background-color:#333333;
font-size:10pt;
font-family:Arial;
margin:0;
padding:0;
color:#FFFFFF;
}

#page {
width:900px;
background-image:url(images/page.png);
margin:auto;
padding:auto;
}

#header {
clear:both;
width:676px;
height:94px;
background-image:url(images/header.png);
text-align:left;
padding-top:30px;
padding-left:224px;
}

#headericon {
float: left;
vertical-align: middle;
position: relative;
left: -26px;
top: -22px;
width: 96px;
height: 96px;
}

#sidebarnav {
margin-top:10px;
padding-bottom:10px;
}
  
#sidebarnav a {
	width:250px;
	display:block;
	clear:both;
	padding-right:15px;
	padding-top:6px;
	height:25px;
	color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
	border-left:3px solid #474747;
	border-top:3px solid #474747;
	border-bottom:3px solid #474747;
	margin-top:3px;
	text-align:right;
  }
  
  
#sidebarnav a:hover, #sidebarnav a.active {
	background-color:#333333;
	border-left:3px solid #5a5a5a;
	border-top:3px solid #5a5a5a;
	border-bottom:3px solid #5a5a5a;
	text-decoration:none;
	color:#FFFFFF;
}

.widget {
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
}

#mainarea {
width:860px;
clear:both;
padding-left:30px;
}

#contentarea {
width:540px;
padding-left:20px;
padding-bottom:20px;
float:left;
line-height:14pt;
padding-top:5px;
min-height:200px;
}

#sidebar {
float:left;
width:270px;
line-height:14pt;
color:#FFFFFF;
}

#donate {
text-align:right;
padding-right:15px;
padding-top:6px;
}

#footer {
width:900px;
clear:both;
height:60px;
padding-top:18px;
text-align:center;
font-size: 0.8em;
background-image:url(images/footer.png);
background-repeat:no-repeat;
color:#FFFFFF;
}

#copyright {
font-size: 0.7em;
}

#footer a {
color:#FFFFFF;
}

h1, h1 a {
font-size:23pt;
color:#FFFFFF;
margin:0;
}

h2 {
font-size:15pt;
color:#FFFFFF;
padding-top:6px;
}

#sidebar h2 {
font-size:15pt;
padding-left:10px;
color:#FFFFFF;
padding-top:6px;
}

.description {
font-size:14pt;
color:#FFFFFF;
padding-left:5px;
}

a {
color:#FFFFFF;
text-decoration:none;
}

a.dnld {
color:#A9FF38;
}

a.contact {
color:#F9C600;
}

#sidebar a {
color:#FFFFFF;
}

a:hover {
text-decoration:underline;
}

#maindownload {
border: 1px solid white;
background-color: #222222;
padding: 3px;
}